= link_to "Add New Set", :new_lego_set

%h1 LEGO Stock Check

%table
  %tbody
    %tr
      %th Name
      %th Number
      %th Walmart in stock?
      %th Amazon in stock?
      %th Lego SAH in stock?
      %th Toys"R"Us in stock?
      %th Target in stock?
    - @lego_sets.each do |lego|
      %tr
        %td= lego.name
        %td= lego.number
        %td{class: lego.walmart_in_stock.parameterize}
          = link_to lego.walmart_in_stock, lego.walmart_url
        %td{class: lego.amazon_in_stock.parameterize}
          = link_to lego.amazon_in_stock, lego.amazon_url
        %td{class: lego.lego_in_stock.parameterize}
          = link_to lego.lego_in_stock, lego.lego_url
        %td{class: lego.tru_in_stock.parameterize}
          = link_to lego.tru_in_stock, lego.tru_url
        %td{class: lego.target_in_stock.parameterize}
          = link_to lego.target_in_stock, lego.target_url
        %td= link_to "edit", edit_lego_set_path(lego)
