= form_for @lego_set do |f|
  %header
    %h1 Add a lego set

  %fieldset
    %dl
      %dt
        = f.label :name
      %dd
        = f.text_field :name
      %dt
        = f.label :number
      %dd
        = f.text_field :number
      %dt
        = f.label :amazon_url
      %dd
        = f.text_field :amazon_url
      %dt
        = f.label :walmart_url
      %dd
        = f.text_field :walmart_url
      %dt
        = f.label :tru_url
      %dd
        = f.text_field :tru_url
      %dt
        = f.label :lego_url
      %dd
        = f.text_field :lego_url
  %fieldset.actions
    = submit_tag "Add Set"
