!!!
%html
  %head
    %title oosLEGO
    = stylesheet_link_tag "#{request.protocol}fonts.googleapis.com/css?family=Neuton:700,400"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    %header
      %section
        %h1 oosLEGO

    #content
      - if notice
        .box
          .notice= notice
      = yield
    = render "shared/analytics" if ENV["GOOGLE_ANALYTICS_UID"]
